<% layout("/layouts/boiler") %>

<body>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
            <h2><b>Booking Confirmed</b></h2>
            <ul class="list-group">
                <li class="list-group-item"><b> First Name:</b> <%= fname %></li>
                <li class="list-group-item"><b> Last Name:</b> <%= lname %></li>
                <li class="list-group-item"><b>Email:</b> <%= email %></li>
                <li class="list-group-item"><b>Phone Number:</b> <%= phoneno %></li>
                <li class="list-group-item"><b>Date of Birth:</b> <%= dob %></li>
                <li class="list-group-item"><b>Departs:</b> <%= bookinginfo[0].departs %></li>
                <li class="list-group-item"><b>Arrives:</b> <%= bookinginfo[0].arrives %></li>
                <li class="list-group-item"><b>Airliner Name:</b> <%= bookinginfo[0].airlinername %></li>
                <li class="list-group-item"><b>Departure:</b> <%= bookinginfo[0].departure %></li>
            </ul>
            <p>Thank you for booking your flight!</p>
        </div>
    </div>
</body>