<% layout("/layouts/boiler") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2><b>User and Flight Information</b></h2>
            <ul class="list-group">
                <li class="list-group-item"><b>Name:</b> <%= user.name %></li>
                <li class="list-group-item"><b>Email:</b> <%= user.email %></li>
                <li class="list-group-item"><b>Phone Number:</b> <%= user.phoneno %></li>
                <li class="list-group-item"><b>Date of Birth:</b> <%= user.dob %></li>
                <li class="list-group-item"><b>Departs:</b> <%= bookinginfo[0].departs %></li>
                <li class="list-group-item"><b>Arrives:</b> <%= bookinginfo[0].arrives %></li>
                <li class="list-group-item"><b>Airliner Name:</b> <%= bookinginfo[0].airlinername %></li>
                <li class="list-group-item"><b>Departure:</b> <%= bookinginfo[0].departure %></li>
            </ul>
        </div>
    </div>
</body>
